*{  
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#buttonmargin{
    border-radius: 10px;
    padding: 5px 8px;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    margin: right;
}

nav{
        padding: 20px 50px;
        background-color: rgb(247, 6, 6);
        text-align: right;
        
}

.container-red{
    background-color: rgb(245, 9, 9);
    height: 100vh;
    text-align: center;
    font-size: 20px;
    position: relative;
    
}

.container-green{
    background-color: rgb(48, 104, 50);
    height: 100vh;
    text-align: center;
    font-size: 20px;
    position: relative;
    
}

.container-violet{
    background-color: rgb(165, 216, 24);
    height: 100vh;
    text-align: center;
    font-size: 20px;
    position: relative;
}





.centered-container {
    width: 800px;
    border: 3px black solid;
    border-radius: 3px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 50vh;
    text-align:center

}

#img{
    width: 350px;
    
}


h1{
    text-align: center;
    color: yellow;
}